/* Write your CSS here */
img {
  width: 20px;
  background-color: white;
}
button {
  background-color: white;
  border-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
